streamlit
pandas
numpy
altair

langchain
langchain-core
langchain-openai
langchain-chroma
langchain-huggingface

chromadb

sentence-transformers
transformers
torch

scikit-learn
umap-learn

Pillow

python-dotenv

beautifulsoup4